@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

* {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}
ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.login {
  all: unset;
  color: #ffffff;
  width: 43px;
  height: 19px;
  background-color: #d01c28;
  font-weight: 600;
  padding: 6px 16px;
}

.body {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}

.body h1 {
  font-size: 108px;
  font-weight: 800px;
  line-height: 102px;
}

.body p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #000000;
}

.shop-btn {
  all: none;
  background-color: #d01c28;
  width: Hug (150px) px;
  height: Hug (41px) px;
  padding: 6px 16px 6px 16px;
  gap: 10px;
  opacity: 0px;
  color: #ffffff;
}
.category-btn {
  color: #000000;
  background-color: transparent;
  border: 1px solid grey;
}
.btn {
  display: flex;
  gap: 46;
}

.shopping {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

.site-icon{
  display: flex;
  gap: 16px;
}

.content{
  display: flex;
  flex-direction: column  ;
  gap: 36px;
}